@*@model MVCProjectHamburger.Models.Entities.Concrete.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <input asp-for="CoverImage" class="form-control" type="file" name="ImgName" pattern="" accept=".jpg,.png,.jpeg,.webp" />
                <input asp-for="CoverImage" class="form-control" type="hidden" value="empty.jpg" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

@model MVCProjectHamburger.Models.Entities.Concrete.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
        <table class="table">
            <tbody>
                <tr>
                    <td><label asp-for="Name" class="control-label"></label></td>
                    <td><input asp-for="Name" class="form-control" /></td>
                    <td><span asp-validation-for="Name" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Price" class="control-label"></label></td>
                    <td><input asp-for="Price" class="form-control" /></td>
                    <td><span asp-validation-for="Price" class="text-danger"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="CoverImage" class="control-label"></label></td>
                    <td>
                        <input asp-for="CoverImage" class="form-control" type="file" name="ImgName" pattern="" accept=".jpg,.png,.jpeg,.webp" />
                        <input asp-for="CoverImage" class="form-control" type="hidden" value="empty.jpg" />
                        <span asp-validation-for="CoverImage" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save" class="btn btn-primary" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="hidden" asp-for="ID" /></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
