@model List<ExtraIngredient>


<form method="post" asp-area="User" asp-controller="Order" asp-action="AddToOrder">
<div class="row">
    @foreach (ExtraIngredient extraIngredient in Model)
    {
        <div class="col-sm-6" style="margin-top: 20px">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="/ExtraIngredientCoverImages/@extraIngredient.CoverImage" alt="Card image cap" style="height: 200px; width: 200px; display: block; margin-left: auto; margin-right: auto;">
                <div class="card-body text-center">
                    <h5 class="card-title"> @extraIngredient.Name </h5>
                    <p class="card-text"> @extraIngredient.Price TL </p>
                        <input type="hidden" name="menuID" value="@extraIngredient.ID">

                        <label for="myNumber">Number:</label>
                        <input type="number" id="myNumber" name="number" min="1" max="100" step="1" value="1">
                        <br>
                    <button type="submit" class=" btn btn-danger"> Add To ShoppingCart </button>
                </div>
            </div>
        </div>
    }
</div>
</form>